body {

    font-family: Arial, sans-serif;

     background: linear-gradient(rgb(40,40,60), rgb(140,140,140));

     color: white;

    margin: 0;

    width: 100%;

    padding: 0;

    min-height: 100vh;
}

header {

    background-color: #4a4a4a;

    color: white;

    padding: 20px 0;

    text-align: center;
}

header h1 {
border-bottom: 4px solid white;

    margin: 0 auto;
    width: fit-content;
}

nav a {

    color: white;

    text-decoration: none;

    margin: 0 10px;
}

nav a:hover {

    text-decoration: underline;
}

main {
width: 90%;
    max-width: 1200px;
    margin: 40px auto;

}


main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0   
}

footer {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 10px;

    position: fixed;

    bottom: 0;

    width: 100%;
}

p {

font-size: 1.1em;

}

a {

    color: #564caf;

    text-decoration: none;
}

a:hover {

    text-decoration: underline;
    
}

img {

border: 5px solid #312678;

border-radius: 10px;

}

main a[href^="mailto:"] {

color: #229fff;

font-weight: bold;

}
